.HomePage{
    height:calc(100vh - 4px);
    width: calc( 100vw - 36px);
    border: none;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    flex-direction: column;
    .img{
        width: 200px;
        height: fit-content;
        img{
            width: 15vw;
            max-width: 100px;
            border-radius: 5px;
        }
    }
    a{
        width: 50%;
        min-width: 300px;
        height: 30px;
        background-color: white;
        margin-top: 50px;
        text-decoration: none;
        color: black;
        font-weight: 700;
        border-radius: 5px;
        &:hover{
            box-shadow: 0 0 5px white;
            transition: all 0.5s;
        }
    }
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}