.one{
    width: 100vw;
    height: 100vh;
    background-color: rgb(84, 84, 84);
    .btn{
        button{
            width: 100px;
            margin: 5px;
            height: 30px;
        }
    }
}