body{
  width: 100vw;
  border-radius: 5px;
  height: 100vh;
  overflow: hidden;
  margin: 2px;
  padding: 0;
  background-color: rgb(236, 11, 11);
}
.connect{
  width: calc(100vw - 40px);
  height: calc(100vh - 4px);
  background-color: gray;
  align-items: center;
  p{
    color: red;
  }
}
.container {
  margin: 0;
  display: flex;
}